@model doan.Models.XE

@{
    ViewBag.Title = "Chitietxe";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>CHI TIẾT XE</h2>

<div>   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên xe:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenxe)
        </dd>

        <dt>
            Giá bán:
        </dt>

        <dd>
            @String.Format("{0:0,0}",Model.Giaban) VNĐ
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd style="width:600px;text-align:justify">
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            Ảnh bìa:
        </dt>

        <dd>
            <img src="@Url.Content("~/Hinh/"+ Model.Anhbia)" width="120px" />
        </dd>

        <dt>
            Ngày cập nhât:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}",Model.Ngaycapnhat)
        </dd>

        <dt>
            Số lượng tồn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongton)
        </dd>

        <dt>
            Loại xe:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAIXE.TenLoaiXe)
        </dd>

        

        

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Suaxe", new { id = Model.Maxe }) |
    @Html.ActionLink("Quay lại", "Xe")
</p>
