

@{
    ViewBag.Title = "Chitiet";
    Layout = "~/Views/Shared/_Sanpham.cshtml";
}
<div class="mens">
    <div class="main">
        <div class="wrap">
            <ul class="breadcrumb breadcrumb__t"><a class="home" href="#">Home</a> / <a href="~/oto/Sanpham">Sản phẩm</a> / @Model.Tenxe</ul>
            <div class="cont span_2_of_3">
                <div class="grid images_3_of_2">
                    <ul id="etalage" class="etalage" style="display: block; width: 362px">
                        <li class="etalage_thumb thumb_1 etalage_thumb_active" style="display: list-item; opacity: 1; background-image: none;">
                            <a href="optionallink.html">
                                <img class="etalage_thumb_image" src="~/Hinh/@Model.Anhbia" style="display: inline; width: 360px; height: auto; opacity: 1;">
                                
                            </a>
                        </li>    
                        <li class="etalage_magnifier" style="margin: 0px; padding: 0px; left: 0px; top: 166px; display: none; opacity: 0.263066;"><div style="margin: 0px; padding: 0px; width: 240px; height: 194px;"><img src="~/Hinh/@Model.Anhbia" style="margin: 0px; padding: 0px; width: 360px; height: 360px; display: inline; left: 0px; top: -166px;"></div></li>
                        <li class="etalage_icon" style="display: list-item; top: 238px; left: 20px; opacity: 1;">&nbsp;</li>
                        <li class="etalage_hint" style="display: none; margin: 0px; top: -15px; right: -15px;">&nbsp;</li>
                        <li class="etalage_zoom_area" style="margin: 0px; opacity: 0; left: 372px; display: none; background-image: none;"><div class="etalage_description" style="width: 560px; bottom: 0px; left: 0px; opacity: 0.7; display: none;"></div><div style="width: 600px; height: 486px;"><img class="etalage_zoom_img" src="images/s1.jpg" style="width: 900px; height: 900px; left: 0px; top: -414px;"></div></li>
                        
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="desc1 span_3_of_2">
                    <h3 class="m_3">@Model.Tenxe</h3>
                    <p class="m_5">@String.Format("{0:0,0}", @Model.Giaban) VNĐ <span class="reducedfrom"></span> 
                    <div class="btn_form">                        
                            <a href="@Url.Action("ThemGiohang", "GioHang", new { @iMaxe= @Model.Maxe, @strURL=Request.Url.ToString() })" type="submit"><span>ĐẶT MUA</span></a>                        
                    </div>
                    <span class="m_link"><a href="~/NguoiDung/DangNhap">Đăng nhập để thêm giỏ hàng</a> </span>
                    <p class="m_text2">@Model.Mota</p>
                </div>
                <div class="clear"></div>
                <div class="clients">
                    <h3 class="m_3">Các sản phâm cùng loại</h3>
                    <div class="nbs-flexisel-container">
                        <div class="nbs-flexisel-inner">
                            <ul id="flexiselDemo3" class="nbs-flexisel-ul" style="left: -187.2px; display: block;">
                                @Html.Action("XeCungLoaiPartial","oto")
                            </ul>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(window).load(function () {
                            $("#flexiselDemo1").flexisel();
                            $("#flexiselDemo2").flexisel({
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: {
                                    portrait: {
                                        changePoint: 480,
                                        visibleItems: 1
                                    },
                                    landscape: {
                                        changePoint: 640,
                                        visibleItems: 2
                                    },
                                    tablet: {
                                        changePoint: 768,
                                        visibleItems: 3
                                    }
                                }
                            });

                            $("#flexiselDemo3").flexisel({
                                visibleItems: 5,
                                animationSpeed: 1000,
                                autoPlay: false,
                                autoPlaySpeed: 3000,
                                pauseOnHover: true,
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: {
                                    portrait: {
                                        changePoint: 480,
                                        visibleItems: 1
                                    },
                                    landscape: {
                                        changePoint: 640,
                                        visibleItems: 2
                                    },
                                    tablet: {
                                        changePoint: 768,
                                        visibleItems: 3
                                    }
                                }
                            });

                        });
                    </script>
                    <script type="text/javascript" src="~/Scripts/jquery.flexisel.js"></script>
                </div>
                <div class="fb-comments" data-href="http://carcenter.com" data-colorscheme="light" data-numposts="5" data-width="936px"></div>        
            </div>
            <div class="rsidebar span_1_of_left">
                <h5 class="m_1">NHÀ SẢN XUẤT</h5>
                <ul class="kids">
                    <li><a href="~/oto/SPTheoloaixe/1">Lexus</a></li>
                    <li class="last"><a href="~/oto/SPTheoloaixe/2">Audi</a></li>
                    <li><a href="~/oto/SPTheoloaixe/3">Lambogrini</a></li>
                    <li><a href="~/oto/SPTheoloaixe/4">BMW</a></li>
                    <li><a href="~/oto/SPTheoloaixe/5">Toyota</a></li>
                    <li><a href="~/oto/SPTheoloaixe/6">Chevrolet</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
@*<div id="centerPanel" style="border-top: 1px solid #ddd">
    <div class="form-content">
        <div class="ProductDetailContainer DetailItem clearfix">
            <div id="ProductDetail" class="PrimaryProductDetails">
                <div class="BlockContent clearfix">
                    <h1 class="translated">@Model.Tenxe</h1><img style="display:none;" src="http://prooto04.web24h.vn/images/thumbs/0001780320_a250.jpeg"><table border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td width="1%" style="vertical-align: top; margin: 0 10px;">
                                    <div class="ProductThumb">
                                        <div style="display: none;" id="LightBoxImages"><a class="iframe"></a></div><div style="position: relative;" class="ProductThumbImage"><a onclick="                return hs.expand(this)" id="thumb1" href="#" class="jqzoom" style="outline-style: none; cursor: pointer; display: block; margin: auto; position: relative; height: 250px; width: 335px;" title=""><img src="~/Hinh/@Model.Anhbia" width="340" height="250" style="position: absolute; top: 0px; left: 0px;" title=""></a><div class="icon-status"></div></div>
                                        <script type="text/javascript">
                                            $(function () {
                                                initCarouselImages();
                                                initZoomImages();
                                            });</script>
                                        <script type="text/javascript">            $(document).ready(function () { showimage('http://scontent.webpluscnd.net/photos-wt/a-250/8771-1780320.png?atk=d7ed1db3d9b3d59b566cebaee202dc1d', 'http://scontent.webpluscnd.net/photos-wt/a-0/8771-1780320.png?atk=3f361bef46d39b197810573672ad5bc0') });</script>
                                    </div>
                                </td>
                                <td style="vertical-align: top;">
                                    <div class="ProductMain mar-left">
                                        <div class="DetailRow clearfix price-new"><label class="fl" style="font-weight: bold;width: 20%;"><b><span id="lbltextprice"> Giá bán:</span></b> <em class="ProductPrice VariationProductPrice"></em></label><label class="fl" style="width: 75%;"><em class="ProductPrice VariationProductPrice"><span id="lblprice"><b>@String.Format("{0:0,0}",@Model.Giaban) VNĐ</b></span></em></label></div>


                                        <div class="BulkDiscount"><a href="@Url.Action("ThemGiohang", "GioHang", new { @iMaxe= @Model.Maxe, @strURL=Request.Url.ToString() })" class="btn-class btn-cart"><span><span>ĐẶT MUA</span></span></a></div><div class="DetailRow editor_css" style="font-weight: bold"><b>Miêu tả:</b><p class="Value detailDec"><span id="lbldec" disabled="disabled" style="font-weight: bold; width: 20%;"><strong>@Model.Mota</strong></span></p></div>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/Modules/PriceComparison/bundles/Estore/ShopCart/productshopcart.js?v=20160606"></script>
        <script type="text/javascript">                                                        wpShopCart.init(8771);</script><div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="f3bd7209e7631" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" src="https://www.facebook.com/connect/ping?client_id=104234393041642&amp;domain=prooto04.web24h.vn&amp;origin=1&amp;redirect_uri=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FP5DLcu0KGJB.js%3Fversion%3D42%23cb%3Df1ba573948e387%26domain%3Dprooto04.web24h.vn%26origin%3Dhttp%253A%252F%252Fprooto04.web24h.vn%252Ff3c79dacad0087c%26relation%3Dparent&amp;response_type=token%2Csigned_request%2Ccode&amp;sdk=joey" style="display: none;"></iframe></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="http://staticxx.facebook.com/connect/xd_arbiter/r/P5DLcu0KGJB.js?version=42#channel=f3c79dacad0087c&amp;origin=http%3A%2F%2Fprooto04.web24h.vn" style="border: none;"></iframe><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="https://staticxx.facebook.com/connect/xd_arbiter/r/P5DLcu0KGJB.js?version=42#channel=f3c79dacad0087c&amp;origin=http%3A%2F%2Fprooto04.web24h.vn" style="border: none;"></iframe></div></div></div>
        <script type="text/javascript">
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=104234393041642";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        <script type="text/javascript" src="https://apis.google.com/js/plusone.js" gapi_processed="true"></script><div style="margin-left:90px" class="clearfix share_detail"><div class="fl" style="width: 100px; overflow: hidden;"><fb:like href="http://localhost:10781/oto/Chitiet/21" send="false" layout="button_count" width="130" show_faces="false" class=" fb_iframe_widget" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=104234393041642&amp;container_width=0&amp;href=http%3A%2F%2Fprooto04.web24h.vn%2Fsan-pham-p573314%2Fposche-panamera-gts.html&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=130"><span style="vertical-align: bottom; width: 78px; height: 20px;"><iframe name="f9546ec4b9b4d" width="130px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/plugins/like.php?app_id=104234393041642&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FP5DLcu0KGJB.js%3Fversion%3D42%23cb%3Df371d7d4014e04%26domain%3Dprooto04.web24h.vn%26origin%3Dhttp%253A%252F%252Fprooto04.web24h.vn%252Ff3c79dacad0087c%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fprooto04.web24h.vn%2Fsan-pham-p573314%2Fposche-panamera-gts.html&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=130" style="border: none; visibility: visible; width: 78px; height: 20px;" class=""></iframe></span></fb:like></div><div class="fl" style="width: 80px; overflow: hidden;"><div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px; background: transparent;"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1475840652749" name="I0_1475840652749" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;origin=http%3A%2F%2Fprooto04.web24h.vn&amp;url=http%3A%2F%2Fprooto04.web24h.vn%2Fsan-pham-p573314%2Fposche-panamera-gts.html&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.C6Culoe7Vn0.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCM4Tlzqvfv-cpja0dTZaEiAY9nJuQ#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1475840652749&amp;parent=http%3A%2F%2Fprooto04.web24h.vn&amp;pfname=&amp;rpctoken=84500521" data-gapiattached="true" title="+1"></iframe></div></div><div class="fl" style="width: 100px; overflow: hidden;"><a href="https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=http://localhost:10781/oto/Chitiet/21" target="_blank"><img src="~/Hinh/fb_share_button.gif"></a></div></div>
    </div>
</div>
<div style="margin-left:420px" class="fb-comments" data-href="http://carcenter.com" data-colorscheme="light" data-numposts="5" data-width="800px"></div>*@
















    


